*{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    padding: 10px;
    font-weight: bolder;

}

.container{
    margin: 0 auto;
    width: 1380px;
}

.bluerow{
    width: 1380px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: deepskyblue;
    display: flex;
    justify-content: space-evenly;
}



img{
    height: 205px;
}

.pinkrow{
    width: 1380px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(227, 148, 161);
    display: flex;
    justify-content: space-around;
}

.whiterow{
    width: 1380px;
    padding: 10px;
    background-color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

footer{
    text-align: center;
}